# PhpStorm idea
.idea

# Dependency directories
node_modules

# Vue generate
dist

# dotenv environment variables files
.env.local

# Logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Coverage reports
coverage

tsconfig.app.tsbuildinfo
tsconfig.vitest.tsbuildinfo