# PhpStorm idea
.idea

# Dependency directories
node_modules

# Vue generate
dist

# Local env file
.env.local

# Logs
*.log

# Coverage reports
coverage

# Tsconfig
tsconfig.tsbuildinfo

# Eslint
eslint-typegen.d.ts
.eslintcache

# PNPM
.pnpm-store

# Mac system files
.DS_Store