# PhpStorm idea
.idea

# Dependency directories
node_modules

# Vue generate
dist

# Local env file
.env.local

# Logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Coverage reports
coverage

# Tsconfig
tsconfig.tsbuildinfo

# Eslint
eslint-typegen.d.ts
.eslintcache