.timeline-item {
  padding: 0;

  &__card {
    text-align: left;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 280px;

    @media (min-width: $md) {
      margin-bottom: 30px;
      width: 330px;
    }
  }

  &__year {
    color: $dark-red;
    opacity: initial;
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 8px;

    @media (min-width: $lg) {
      color: $whitesmoke;
      font-size: 24px;
    }
  }

  &__thumbnail-container {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  &__title {
    white-space: normal;
    word-break: break-word;
    margin-bottom: -9px;
  }

  &__location {
    font-size: 14px;
    white-space: normal;
    padding-bottom: 8px;

    @media (min-width: $md) {
      font-size: 15px;
    }
  }

  &__description {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    white-space: normal;
  }
}
