.dialog-card-item {
  scroll-behavior: unset;
  padding: 15px;
  flex-basis: auto;

  &__card {
    cursor: pointer;

    &__title {
      font-size: 18px;

      @media (min-width: $md) {
        font-size: 20px;
      }
    }

    &__subtitle {
      max-width: 600px;
      font-size: 13px;
      color: $grey;
      margin-top: -10px;

      @media (min-width: $md) {
        font-size: 14px;
        margin-top: -8px;
      }
    }
  }

  &__see-more {
    justify-content: center;
    margin-top: 5px;
  }

  &__popin {
    padding: 15px 5px 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__cross-icon {
      text-align: right;
      margin-right: 10px;
    }

    .cross-icon {
      color: $cherry-red !important;
    }
  }

  &__logos {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}