.footer {
  background: $metal-blue;

  &__credit {
    padding-top: 18px;
    text-align: center;
  }

  &__information {
    letter-spacing: 1.5pt;
  }

  &__credit-message {
    font-size: 14px;
    margin-bottom: 25px;

    @media (min-width: $xl) {
      font-size: 16px;
    }
  }

  &__copyright {
    font-size: 13px;

    @media (min-width: $xl) {
      font-size: 15px;
    }
  }

  &__version {
    margin-top: 20px;
    color: $white;
    font-size: 16px;
    letter-spacing: 1.5pt;
  }
}
