.image-gallery {
  @media (min-width: $lg) {
    margin-top: 10px;
  }

  &__wrapper {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  img {
    object-position: top;
  }

  &__rounded {
    border-radius: 5px;
  }

  &__year {
    font-size: 28px;
    font-weight: 900;

    @media (min-width: $lg) {
      font-size: 38px;
    }
  }

  &__img-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
