/* Vuetify override settings */
.v-btn,
.v-chip {
  transition: transform 0.6s !important;
}

.v-btn:hover,
.v-chip:hover {
  transform: scale(1.07) !important;
}

.v-overlay__scrim {
  opacity: 0.5;
}
