.category-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: $sm) {
        font-size: 2rem;
    }
}