.footer {
  background: $metal-blue;

  &__credit {
    padding-top: 18px;
    padding-right: 50px;
    padding-left: 50px;

    text-align: center;
  }

  &__information {
    letter-spacing: 1.5pt;
  }

  &__credit-message {
    margin-bottom: 30px;
    font-size: 16px;

    @media (min-width: $xl) {
      font-size: 18px;
    }
  }

  &__copyright {
    font-size: 14px;

    @media (min-width: $xl) {
      font-size: 16px;
    }
  }

  &__version {
    margin-top: 20px;
    color: $white;
    font-size: 16px;
    letter-spacing: 1.5pt;
  }
}
