name: release

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'README.md'

jobs:
  release:
    if: ${{ github.event.head_commit.author.name != 'renovate[bot]' }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Build Docker image
        run: docker compose build portfolio-dev

      - name: Initialize Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run release
        run: docker compose run --rm portfolio-dev sh -c "git config --global --add safe.directory /app && pnpm release"
