.contact-page {
  &__card {
    padding: 10px 30px !important;

    @media (min-width: $md) {
      padding: 25px 50px !important;
    }
  }

  &__form {
    &__field {
      @media (min-width: $md) {
        padding-bottom: 5px;
      }
    }
  }
}
